.myQuiz {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.myQuizHeading {
  font-size: 24px;
}

.tablemanage {
  padding: 0rem 5rem;
}

.table-container {
  /* responsive styles for the table */
  overflow-x: auto;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .myQuiz {
    flex-direction: column-reverse;
  }
  .tablemanage {
    padding: 1rem;
  }

  .myQuizHeading {
    margin-bottom: 1rem;
  }

  .table-container {
    width: 100%;
  }
}
/* Media Query for max-width: 400px */
@media (max-width: 400px) {
  .myQuiz {
    flex-direction: unset;
  }
  .myQuizHeading {
    font-size: 20px;
  }
  .tablemanage {
    padding: 0;
  }

  .table-container {
    /* Further adjust styles for very small screens */
    font-size: 10px;
    width: auto;
  }
}
