/* .card-bg {
  display: flex;
  height: 90vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.card {
  height: 70vh;
  width: 50vw;
  border-radius: 10px;

  text-align: center;
  background-color: lightblue;
}
.cardheading {
  font-size: x-large;
  font-weight: bold;
}
.cardquestion {
  padding: 10px;
  padding-bottom: 30px;
}
.quizoption {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 40px;
  height: 60%;
}
.nextdiv {
  display: flex;
  justify-content: space-around;
}
.radioOption {
  display: flex;
  height: 30px;
  background-color: pink;
  align-items: center;
  border-radius: 10px;
} */
.card-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #f9f9f9;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardheading {
  text-align: center;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.cardquestion {
  margin-bottom: 20px;
}

.quizoption {
  display: flex;
  flex-direction: column;
}

.radioOption {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.nextdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.questionCounter {
  flex-grow: 1;
  margin: 0;
  padding-right: 20px;
}
