.card-bg {
  display: flex;
  height: 90vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.card {
  height: 70vh;
  width: 50vw;
  border-radius: 10px;

  text-align: center;
  background-color: lightblue;
}
.cardheading {
  font-size: x-large;
  font-weight: bold;
}
.cardquestion {
  padding: 10px;
  padding-bottom: 30px;
}
.quizoption {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 40px;
  height: 60%;
}
.nextdiv {
  display: flex;
  justify-content: space-around;
}
.radioOption {
  display: flex;
  height: 30px;
  background-color: pink;
  align-items: center;
  border-radius: 10px;
}
