.sign-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 8vh;
}

.sign-bg {
  display: flex;
  flex-direction: column;
  padding: 25px;

  height: 90vh;
  width: 90vw;
  gap: 30px;
  background-color: whitesmoke;
}
.tittle-heading {
  font-size: xx-large;
  font-weight: bold;
}
.name {
  font-size: large;
  font-weight: 500;
  padding: 5px;
}
.quizNo {
  font-weight: bold;
  font-size: 20px;
  color: palevioletred;
}
.activeQuiz {
  background: transparent;
}
.heading-Ques span {
  color: rgb(209, 143, 56);
  background: transparent;
}
.active-heading {
  font-weight: bold;
  font-size: large;
}

@media (max-width: 500px) {
  .sign-body {
    height: auto;
  }

  .sign-bg {
    height: auto;
    width: auto;
    padding-top: 80px;
    gap: 20px;
  }

  .tittle-heading {
    font-size: large;
  }

  .name {
    font-size: medium;
    padding: 3px;
  }

  .quizNo {
    font-size: 16px;
  }
}
