.full-bg {
  height: initial;
  background-color: lightgrey;
}
.ques-bg {
  padding: 0px 20px;
  height: 100vh;
  background-repeat: repeat-y;
}

.question {
  padding: 10px;
  font-size: large;
  font-weight: bold;
  word-wrap: break-word;
  margin: 0px 10vw;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: plum;
}

.heading {
  font-size: x-large;
  font-weight: bold;
  color: rgb(54, 54, 54);
  text-align: center;
  padding-bottom: 5vh;
}

/* Mobile size screen (up to 767px) */
@media (max-width: 767px) {
  .full-bg {
    height: 100%;
    background-repeat: repeat;
    background-color: lightgrey;
  }
  .ques-bg {
    padding: 10px;
    height: auto;
  }

  .question {
    padding: 8px;
    font-size: medium;
    margin: 0px 5vw;
    margin-bottom: 8px;
  }

  .heading {
    font-size: large;
    padding-bottom: 3vh;
  }
}
.btn {
  margin: 10px 60px;
  background-color: lightgreen;
  color: black;
  padding: 5px 15px;
  border-radius: 10px;
}
