.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12vh;
  gap: 10vw;
}

/*  the styles for smaller screens */
@media (max-width: 768px) {
  .quiz {
    flex-direction: column;
    height: auto;
    padding-top: 10px;
    gap: 20px;
  }
}
