.quizbackground {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  background-color: rgb(205, 209, 211);

  padding: 20px 20px 50px;
}
.heading {
  font-size: x-large;
  font-weight: bold;
}
.background {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  height: auto;
  width: 65vw;
  border-radius: 10px;
  background-color: white;
}
.quesAns {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}
.submit {
  display: flex;
  justify-content: end;
  height: 100%;
  width: 100%;
  padding: 10px 15px;
  background-color: rgb(247, 245, 241);
}
.forOption {
  background-color: white;
  width: auto;
  padding: 0;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
}
.innerOption {
  display: flex;
  justify-content: space-between;

  width: auto;
}
.optioncontainer {
  display: flex;
  margin: 10px 0px;
  justify-content: start;
  flex-wrap: wrap;
  width: auto;
  gap: 10px;
}
.correct {
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
}
.ansCorrect {
  background-color: rgb(31, 204, 68);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
}
.errorPera {
  font-size: large;
  font-weight: 500;
  color: green;
  padding: 10px;
}
.addques {
  margin: 10px;
}
.inputoption {
  padding: 5px;
  margin: 10px;
}
